.blend { background-color: #ff99ee; }

.base { background-color: #0099ff; }

.normal { background-color: #0099ff; color: black; }

.multiply { background-color: #005bee; color: black; }

.lighten { background-color: #ff99ff; color: black; }

.darken { background-color: #0099ee; color: black; }

.darkercolor { background-color: #0099ff; color: black; }

.lightercolor { background-color: #ff99ee; color: black; }

.lineardodge { background-color: white; color: black; }

.linearburn { background-color: #0033ee; color: black; }

.difference { background-color: #ff0011; color: black; }

.screen { background-color: #ffd6ff; color: black; }

.exclusion { background-color: #ff7a11; color: black; }

.overlay { background-color: #ffadff; color: black; }

.softlight { background-color: #ffa3f6; color: black; }

.hardlight { background-color: #00adff; color: black; }

.colordodge { background-color: white; color: black; }

.colorburn { background-color: white; color: black; }

.linearlight { background-color: #00cbff; color: black; }

.vividlight { background-color: #00bfff; color: black; }

.pinlight { background-color: #0099ff; color: black; }

.hardmix { background-color: aqua; color: black; }
