@import "compass/css3/opacity";

/* Default Corners CSS*/
@import "ui-corners";

/* Custom Corners CSS */
.ui-corners-corner {
  background-color: red;
  opacity: 0.75;
}
.ui-corners-side {
  background-color: green;
  opacity: 0.75;
}
