
@import "compass/css3";
@import "corners";

.normal {
  @include corner-images(
    "corner-tl.png",
    "corner-t.png",
    "corner-tr.png",
    "corner-l.png",
    "corner-br.png",
    "corner-b.png",
    "corner-bl.png",
    "corner-l.png"
  );
}

.sprite {
  @include corner-images(
    "corner.png" 12px 12px -13px -13px,
    "corner.png" auto 0 -25px,
    "corner.png" 12px 12px -1px -13px,
    "corner.png" auto 11px 0,
    "corner.png" 12px 12px -1px -1px,
    "corner.png" auto 0 11px,
    "corner.png" 12px 12px -13px -1px,
    "corner.png" auto -25px 0
  );
}


@function color-multiply($base, $blend) {
  $r: red($base) * red($blend) / 255;
  $g: green($base) * green($blend) / 255;
  $b: blue($base) * blue($blend) / 255;
  @return rgb($r, $g, $b);
}
$base: #0000ff;
$blend: #30d699;
.multiply {
  color: color-multiply($base, $blend);
}

//--------------------------------
// Photoshop Drop Shadow
//--------------------------------
@mixin photoshop-drop-shadow ($angle: 0, $distance: 0, $spread: 0, $size: 0, $color: #000, $inner: false) {
  $h-shadow: round(cos($angle) * $distance);
  $v-shadow: round(sin($angle) * $distance);
  $css-spread: $size * $spread/100;
  $blur: ($size - $css-spread);
  
  $inset: '';
  @if $inner != false {
    $inset: 'inset';
  }
  
  @include box-shadow($h-shadow $v-shadow $blur $css-spread $color unquote($inset));
}

.box {
  @include photoshop-drop-shadow(120, 5, 0, 5, rgba(0, 0, 0, 0.75));
}