//@import "compass/utilities/color/contrast-color";
@import "compass/css3";
@import "blend-mode";


$contrasted-dark-default:   #000 !default;
$contrasted-light-default:  #fff !default;
$contrasted-lightness-threshold: 30% !default;

// Returns the `$light` color when the `$color` is dark
// and the `$dark` color when the `$color` is light.
// The `$threshold` is a percent between `0%` and `100%` and it determines
// when the lightness of `$color` changes from "dark" to "light".
@function contrast-color(
  $color,
  $dark: $contrasted-dark-default,
  $light: $contrasted-light-default,
  $threshold: $contrasted-lightness-threshold
) {
  @return if(lightness($color) < $threshold, $light, $dark)
}

// Sets the specified background color and calculates a dark or light contrasted text color.
// The arguments are passed through to the [contrast-color function](#function-contrast-color).
@mixin contrasted(
  $background-color,
  $dark: $contrasted-dark-default,
  $light: $contrasted-light-default,
  $threshold: $contrasted-lightness-threshold
) {
  background-color: $background-color;
  color: contrast-color($background-color, $dark, $light, $threshold);
}

$blend: #0099ff;
$base: #ff99ee;

.blend {background-color: $base; }
.base {background-color: $blend; }

.normal { $color: blend-normal($blend, $base); @include contrasted($color); }
.multiply { $color: blend-multiply($blend, $base); @include contrasted($color); }
.lighten { $color: blend-lighten($blend, $base); @include contrasted($color); }
.darken { $color: blend-darken($blend, $base); @include contrasted($color); }
.darkercolor { $color: blend-darkercolor($blend, $base); @include contrasted($color); }
.lightercolor { $color: blend-lightercolor($blend, $base); @include contrasted($color); }
.lineardodge { $color: blend-lineardodge($blend, $base); @include contrasted($color); }
.linearburn { $color: blend-linearburn($blend, $base); @include contrasted($color); }
.difference { $color: blend-difference($blend, $base); @include contrasted($color); }
.screen { $color: blend-screen($blend, $base); @include contrasted($color); }
.exclusion { $color: blend-exclusion($blend, $base); @include contrasted($color); }
.overlay { $color: blend-overlay($blend, $base); @include contrasted($color); }
.softlight { $color: blend-softlight($blend, $base); @include contrasted($color); }
.hardlight { $color: blend-hardlight($blend, $base); @include contrasted($color); }
.colordodge { $color: blend-colordodge($blend, $base); @include contrasted($color); }
.colorburn { $color: blend-colordodge($blend, $base); @include contrasted($color); }
.linearlight { $color: blend-linearlight($blend, $base); @include contrasted($color); }
.vividlight { $color: blend-vividlight($blend, $base); @include contrasted($color); }
.pinlight { $color: blend-pinlight($blend, $base); @include contrasted($color); }
.hardmix { $color: blend-hardmix($blend, $base); @include contrasted($color); }
