.ui-corners { position: relative; }

.ui-corners-content { position: relative; z-index: 1; }

.ui-corners-corner, .ui-corners-side { position: absolute; z-index: 0; }

.ui-corners-corner { height: 10px; width: 10px; background-repeat: no-repeat; }

.ui-corners-corner-tl { top: 0; left: 0; background-position: left top; }

.ui-corners-corner-tr { top: 0; right: 0; background-position: right top; }

.ui-corners-corner-br { bottom: 0; right: 0; background-position: right bottom; }

.ui-corners-corner-bl { bottom: 0; left: 0; background-position: left bottom; }

.ui-corners-side-top, .ui-corners-side-bottom { left: 10px; right: 10px; height: 10px; background-repeat: repeat-x; }

.ui-corners-side-left, .ui-corners-side-right { top: 10px; bottom: 10px; width: 10px; background-repeat: repeat-y; }

.ui-corners-side-top { top: 0; background-position: left top; }

.ui-corners-side-bottom { bottom: 0; background-position: left bottom; }

.ui-corners-side-left { left: 0; background-position: left top; }

.ui-corners-side-right { right: 0; background-position: right top; }

.normal .ui-corners-corner { width: 12px; height: 12px; }
.normal .ui-corners-corner-tl { background-image: url('../i/corner-tl.png?1313871969'); }
.normal .ui-corners-corner-tr { background-image: url('../i/corner-tr.png?1313871969'); }
.normal .ui-corners-corner-br { background-image: url('../i/corner-br.png?1313871969'); }
.normal .ui-corners-corner-bl { background-image: url('../i/corner-bl.png?1313871969'); }
.normal .ui-corners-side-top, .normal .ui-corners-side-bottom { left: 12px; right: 12px; height: 12px; }
.normal .ui-corners-side-left, .normal .ui-corners-side-right { top: 12px; bottom: 12px; width: 12px; background-image: url('../i/corner-l.png?1313871969'); }
.normal .ui-corners-side-top { background-image: url('../i/corner-t.png?1313871969'); right: false0; }
.normal .ui-corners-side-bottom { background-image: url('../i/corner-b.png?1313871969'); }
.normal.ui-corners { padding: 11px; }

.sprite .ui-corners-corner, .sprite .ui-corners-side { background-image: url('../i/corner.png?1313871969'); }
.sprite .ui-corners-corner { width: 12px; height: 12px; }
.sprite .ui-corners-corner-tl { background-position: -13px -13px; }
.sprite .ui-corners-corner-tr { background-position: -1px -13px; }
.sprite .ui-corners-corner-br { background-position: -1px -1px; }
.sprite .ui-corners-corner-bl { background-position: -13px -1px; }
.sprite .ui-corners-side-top, .sprite .ui-corners-side-bottom { left: 12px; right: 12px; height: 12px; }
.sprite .ui-corners-side-left, .sprite .ui-corners-side-right { top: 12px; bottom: 12px; width: 12px; }
.sprite .ui-corners-side-top { right: false0; background-position: 0 -25px; }
.sprite .ui-corners-side-bottom { background-position: 0 11px; }
.sprite .ui-corners-side-left { background-position: -25px 0; }
.sprite .ui-corners-side-right { background-position: 11px 0; }
.sprite.ui-corners { padding: 11px; }
